main > iframe:first-child {
    float: left;
    box-shadow: 0px 1px 3px #888;
}

main > iframe:nth-child(5) {
    float: right;
    box-shadow: 0px 1px 3px #888;
    margin-top: 70px;
    margin-bottom: 50px;
}

main > div:nth-child(2) {
    background-color: #fff;
    box-shadow: 0px 1px 3px #888;
    float: right;
    width: 35%;
    min-height: 365px;
}

main > div:nth-child(4) {
    background-color: #fff;
    box-shadow: 0px 1px 3px #888;
    float: left;
    width: 40%;
    min-height: 365px;
    margin-top: 70px;
    margin-right: 30px;
}

main > div:nth-child(6) {
    background-color: #fff;
    box-shadow: 0px 1px 3px #888;
    float: left;
    width: 70%;
    margin-top: 30px;
    margin-bottom: 70px;
}

main img {
    float: left;
    width: 100%;
    margin-top: 70px;
    box-shadow: 0px 1px 3px #888;
}

main h1 {
    color: #0055c9;
    margin: 5px;
}

main p {
    font-size: 100%;
}

main ul {
    list-style-type: disc;
    padding-left: 20px;
}

main > div{        
    padding: 15px;
}

main > div > div {
    float: left;
    width: 42%;
    margin-right: 50px;
}


main a {
	color: #0055c9;
}

main a:hover {
	color: #006cff;
}