main iframe {
    float: right;
}

main img {
    float: right;
    width: 50%;
}

main h1 {
    color: #282020;
    margin: 5px;
}

main p {
    font-size: 100%;
    
}

main ul {
    list-style-type: disc;
    padding-left: 20px;
}

main div{        
    background-color: #E5E5E6;
    border: 1px solid #d3d3d3;
    padding: 15px;
    margin-bottom: 20px;
} 


main a {
	color: #0190f8;
}

main a:hover {
	color: #6aa8d4;
}