main iframe {
    float: right;
    margin: 2% 2% 10% 10%;
}

main img {
    float: right;
    width: 46.67%;
    margin: 2% 2% 10% 10%;
}

main h1 {
    color: #282020;
    margin: 2% 0 0 2%;
}
main h3 {
    margin-left: 2%;
}
main ul{
    margin-left: 2%;
}

main p {
    font-size: 110%;
    margin-left: 2%;
}
main div:first-child{
    margin-top: 2%;
    padding-bottom: 12%;
}

main div{
    margin-bottom: 2%;
    background-color: #E5E5E6;
    border: 1px solid #d3d3d3;
} 


main a{
	color: #0190f8;
}

main a:hover{
	color: #6aa8d4;
}


/*



*/