main {
    min-height: 83vh;
}

main a {
    color: #007ad3;     /* old #007ad3 new  */
}

main p, main ul {
    margin: 0;
}

main h2 {
    margin: 30px 0 5px 0;
}

.unilist {
    float: left;
    width: 40%;
    font-size: 150%;
}

.unilist ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.unilist a {
    background-color: #f4f4f4;
    float: left;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0px 1px 3px #888;
    
    color: #9f9f9f; /* #9f9f9f */
}

.unilist a:hover {
    /* color: #007ad3; */
    color: #585858;
    background-color: #f4f4f4;
    transition: 0.1s;
}

.unilist a.active {
    color: #cf0339 !important;
}

.unilist a.active i {
    color: #cf0339 !important;
}

.unilist a:hover i, .unilist a.active i {
    margin-right: 0px;
    transition: 0.2s;
}

.unilist i {
    float: right;
    margin-right: 10px;
    transition: 0.2s;
}

ul {
    list-style-type: none;
}



.uniinfo {
    background-color: #fff;
    box-shadow: 0px 1px 3px #888;
    width: 50%;
    float: left;
    margin: 0 0 50px 60px;
    padding: 0 20px 20px 20px;
    min-height: 450px;
}

.uniinfo div {
    display: none;
}

.uniinfo div.active {
    display: block;
}

.uniinfo h1 {
    text-align: center;
}

select {
    font-family: SunAntwerpen-regular;
    font-size: 100%;
    width: 400px;
    padding: 5px;
    margin-bottom: 30px;
}





/*
    all tags:
    ua
    ua_kdg
    ua_ap
    ua_kdg_ap
    ua_ap_tm
    ua_kul

    kdg
    kdg_ap
    kdg_ap_kul_ams

    ap
    
    hz
*/

#ua.ua, #ua.ua_kdg, #ua.ua_ap, #ua.ua_kdg_ap, #ua.ua_ap_tm, #ua.ua_kul, #ua.default,
#kdg.kdg, #kdg.ua_kdg, #kdg.ua_kdg_ap, #kdg.kdg_ap, #kdg.kdg_ap_kul_ams, #kdg.default,
#ap.ap, #ap.ua_ap, #ap.ua_kdg_ap, #ap.ua_ap_tm, #ap.kdg_ap, #ap.kdg_ap_kul_ams, #ap.default,
#hz.hz, #hz.default,
#ams.kdg_ap_kul_ams, #ams.default,
#kul.ua_kul, #kul.kdg_ap_kul_ams, #kul.default,
#tm.tm, #tm.ua_ap_tm, #tm.default,
#itg.default {
    background-color: #fff;
    color: inherit;
}