i {
    margin-right: 10px;
}

.tab a {
    float: left;
    width: 200px;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
}

.tab a.active {
    border-bottom: 1px solid #fff;
}

.tabcontent form {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    margin-top: -1px;
    margin-bottom: 50px;
    padding: 20px;
    display: none;
    max-width: 800px;
}

.tabcontent form.active {
    display: block;
}

form label {
    display: block;
    margin: 8px 0;
}

form input {
    font-family: SunAntwerpen-regular;
    width: 100%;
    font-size: 100%;
    padding: 5px;
}

form textarea {
    width: 100%;
}

form button, .tabcontent + a {
    border: none;
    font-family: SunAntwerpen-regular;
    font-size: 100%;
    background-color: #007ad3;
    color: #fff;
    padding: 15px 20px;
    margin-top: 50px;
}

form button:hover, .tabcontent + a:hover {
    background-color: #0093ff;
}

main > p {
    color: #4AA32C;
}

form > p {
    color: #CF0039;
    margin-top: 0;
    margin-bottom: 10px;
}

.editpass {
    background-color: #fff;
    margin-top: 50px;
    max-width: 500px;
    border: 1px solid #d9d9d9;
    padding: 20px;
}

.editpass h2 {
    margin-top: 0;
}

.editpass input {
    margin-bottom: 10px;
}

.editpass button {
    margin: 0;
}