main {
    min-height: 0.5vh;
    margin-bottom: 100px;
}

h1 {
    font-size: 300%;
    text-align: center;
}

p {
    font-size: 150%;
    margin-bottom: 50px;
    text-align: center;
}

.downloadbuttons {
    display: block;
    width: 40%;
    margin-left: 38.7%;
    margin-top: 5%;
}
.downloadbuttons2{
    display: block;
    width: 40%;
    margin-left: 37%;
    margin-top: 5%;
}

.downloadbuttons a {
    font-size: 150%;
    color: #fff;
    padding: 15px;
    background-color: #007ad3;
    margin: 0 10px;
}

.downloadbuttons a:hover {
    background-color: #0093ff;
}

.downloadbuttons i {
    padding-right: 10px;
}

.downloadbuttons2 a {
    font-size: 150%;
    color: #fff;
    padding: 15px;
    background-color: #007ad3;
    margin: 0 10px;
    width: ;
}

.downloadbuttons2 a:hover {
    background-color: #0093ff;
}

.downloadbuttons2 i {
    padding-right: 10px;
}


img {
    width: 100%;
}