main div {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    min-height: 150px;
    background-color: #fff;
    box-shadow: 0px 1px 3px #888;
}

main div img {
    width: 200px;
    height: auto;
    margin-right: 30px;
    float: left;
    margin-bottom: 40px;
}

main div h1 {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: Antwerpen-regular;
    font-weight: 500;
}

main div h1:hover{
    color: #6c6c6c;
    transition: 0.1s;
}

main div h2 {
    margin: 10px;
    color: #888888;
    font-size: 90%;
}

main div p {
    margin-bottom: 40px;
}

main div p+a {          
    color: #0055c9;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 230px;
    float: left;
}

main div a:hover {     
    color: #006cff;
    transition: 0.1s;
}

/*


.news > div img {
    width: 100%;
}

.news > div h1 {
    margin: 15px;
    font-family: Antwerpen-regular;
    font-weight: 100;
    font-size: 1.5em;
}

.news > div h1:hover {
    color: #6c6c6c;
    transition: 0.1s;
}

.news > div h2 {
    margin: 10px;
    color: #888888;
    font-size: 90%;
}

.news > div p {
    margin: 10px;
    margin-bottom: 35px;
}

.news > div a+h2+h2+p+a {
    color: #0055c9;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.news > div a+h2+h2+h2+h2+p+a {
    color: #0055c9;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.news > div a+h2+h2+p+a:hover {
    color: #006cff;
    transition: 0.1s;
}

.news > div a+h2+h2+h2+h2+p+a:hover {
    color: #006cff;
    transition: 0.1s;
} */