.unilist {
    float: left;
    width: 40%;
    font-size: 150%;
    margin: 50px 0;
}

.unilist ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.unilist a {
    float: left;
    width: 100%;
    padding: 15px;
    border: 1px #d9d9d9 solid;
}

.unilist ul li:first-child a {
    border-right: none;
}

.unilist a:hover i {
    margin-right: 0px;
    transition: 0.2s;
}

.unilist i {
    float: right;
    margin-right: 10px;
    transition: 0.2s;
}

ul {
    list-style-type: none;
}



.uniinfo {
    border-top: 1px #d9d9d9 solid;
    border-right: 1px #d9d9d9 solid;
    border-bottom: 1px #d9d9d9 solid;
    border-left: none;
    width: 50%;
    float: left;
    margin: 50px 0 50px 32px;
    padding: 0 20px;
    min-height: 470px;
}

