/*  FONTS:
    Antwerpen-regular
    Antwerpen-small
    Antwerpen-tall

    SunAntwerpen-light
    SunAntwerpen-regular
    SunAntwerpen-bold

    SunAntwerpenCD-light
    SunAntwerpenCD-regular
    SunAntwerpenCD-bold


    COLORS:
    blue #007ad3
    red #CF0039
    green #4AA32C
    yellow #F9B01E

    black #282020
    grey #7C7070
    white #FFFFFF

    background #E5E5E6
    background light #F3F3F5
    border #BABABA
*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    margin: 0;
    padding: 0;
    color: #282020;
    font-family: SunAntwerpen-regular;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    font-family: Antwerpen-regular;
}



header a img {
    float: left;
    width: 80px;
}

header a > h1 {
    position: absolute;
    top: 23px;
    left: 100px;
    
    font-size: 200%;
    margin: 0;
}


nav {
    position: absolute;
    top: 15px;
    right: 10px;
}

nav li {
    float: left;
}

nav a, nav i {
    padding: 10px 15px;
}

nav i {
    margin-top: -10px;
    padding: 0;
}

nav a:hover {
    border-bottom: 3px #CF0039 solid;
}

nav .fa-bars {
    margin: 10px 20px;
    display: none;
}

nav .activenav {
    color: #CF0039;
}



.heroimage {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: hidden;
}

.heroimage > img {
    width: 100%;
    height: auto;
}

.heroimage > h1 {
    position: absolute;
    top: 80px;
    
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 300%;
}



main, .wrapper {
    max-width: 1200px;
    margin: auto;
}


footer {
    background-color: #282020;
    color: #fff;
}

footer div > div {
    float: left;
    margin: 0 40px;
}

footer li a {
    text-decoration: underline;
    color: #fff;
}

footer div li:hover {
    text-decoration: none;
}

footer img {
    width: 100px;
    
    float: right;
    margin-top: 80px;
    padding: 20px;
}