main {
    min-height: 0.5vh;
    margin-bottom: 100px;
}

h1 {
    font-size: 300%;
    text-align: center;
}

p {
    font-size: 150%;
    margin-bottom: 50px;
    text-align: center;
}

.downloadbutton {
    font-size: 150%;
    color: #fff;
    padding: 15px;
    background-color: #007ad3;
    display: block;
    width: 135px;
    margin: auto;
    text-align: center;
}

.downloadbutton:hover {
    background-color: #0093ff;
}

.downloadbutton i {
    padding-right: 10px;
}

img {
    width: 100%;
}