
.news  i {
    margin-right: 20px;
}

.news div {
    background-image: url("../images/paper.jpg");
    width: 30%;
    margin: 0 1.5% 50px 1.5%;
    float: left;
    background-color: #E5E5E6;   /*old E5E5E6   ?   a2d7c9 ? 1fb58d  */
    border: 1px solid #d3d3d3;
    padding-bottom: 20px;
}

.news img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-left: -10px;
}

.news div h1 {
    margin: 10px;
    font-family: Antwerpen-regular;
    font-weight: 100;
    color: #41b99d;
}

.news div h1:hover {
    color: #8c00c7;         /* old #007ad3 new 8c00c7 */
    transition: 0.1s;
}

.news div h2 {
    margin: 10px;
    color: #888888;
    font-size: 100%;
}

.news div p {
    margin: 10px;
    color: #585858;
}

.news div p:hover{
    color: #000;
}

.news div a {          
    margin: 10px;
    color: #f2c400;         /*   old #007ad3 new #f2c400   */
    font-weight: bold;
}

.news div a:hover {     
    color: #8c00c7;         /* old #0093ff new 8c00c7 */
    transition: 0.1s;
}
.edit-form{
    float: right;
    display: none;
    width: 40px;
    height: 20px;
}
.edit-form button{
    background-color: transparent;
}